.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row {
  display: flex;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 100px;
  background-color: #FFF;
  margin: 5px;
  color: #000;
  cursor: pointer;
  -webkit-box-shadow: 6px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 3px 5px 0px rgba(0,0,0,0.75);
}

/* .active {
  transform: rotateY(180deg);
} */
